<!--
 * @Author: lxf
 * @Date: 2023-04-11 13:31:02
 * @LastEditors: lxf
 * @LastEditTime: 2023-04-11 13:33:24
 * @FilePath: \node-study-program\07_express\代码\03_home.html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件渲染</title>
</head>
<body>
  
    <% if(isLogin) { %>
           <h1>welcome</h1>
        <%}else{ %>
             <h1>please login</h1> 
            <%  } %>
        
</body>
</html>