<!--
 * @Author: lxf
 * @Date: 2023-04-11 16:56:14
 * @LastEditors: lxf
 * @LastEditTime: 2023-04-11 16:56:53
 * @FilePath: \node-study-program\07_express\代码\15_generator\views\error.ejs
-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
