/*
 * @Author: lxf
 * @Date: 2023-03-30 10:13:32
 * @LastEditors: lxf
 * @LastEditTime: 2023-03-30 10:14:05
 * @FilePath: \node-study-program\04HTTP\代码\11_响应练习扩展\index.css
 */
div{
    width: 50px;
    height: 50px;
    color: aqua;
    background-color: beige;
}